//= require _vendor/bootstrap.min
//= require _vendor/codemirror
//= require _vendor/codemirror-solarized
//= require _vendor/jqconsole
//= require _vendor/jquery-ui
//= require sidebar
ul.navbar-nav li{
  padding: 5px;
}
#code-link {
  padding-top: 2px;
  width: 300px;
}
#result-frame {
  width: 100%;
  min-height: 400px;
  // height: 400px;
}

#opal-irb {
  height: 400px;
}
.stretch {
  height: 80%;
}
