!!!
%html
  %head
    %meta(charset="utf-8")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}

  %body
    %nav.navbar.navbar-default
      .navbar-header
        %a.navbar-brand Opal Playground
      .container
        .collapse.navbar-collapse
          %ul.nav.navbar-nav

            %li
              %button.btn.btn-primary#run-code
                Run Code (Cmd+Enter)
            %li
              %button.btn.btn-primary#create-link
                Create Link (Cmd+S)
            %li
              %input#code-link{type: 'text'}
            %li
              %button.btn.btn-primary#help-link Help

    .row
      .col-md-4
        .panel.panel-default
          .panel-heading HTML
          .panel-body
            .top-pane#html_pane
      .col-md-4
        .panel.panel-default
          .panel-heading OPAL
          .panel-body
            .top-pane#ruby_pane
      .col-md-4
        .panel.panel-default
          .panel-heading CSS
          .panel-body
            .top-pane#css_pane
    .row.stretchy
      .col-md-12
        .panel.panel-default
          .panel-heading
            RESULTS
            %button.btn.btn-primary.btn-xs.pull-right#show-irb-button Show Irb
          .panel-body
            .bottom-pane#result_pane
              %iframe#result-frame(frameborder="0")
    #sidebar-left.sidebar
      / Sidebar content
      #sidebar-content-left.sidebar-content
        %button.btn.btn-primary.btn-xs#show-compiled-javascript Show Compiled Javascript
        #accordianParent.accordion
          .accordion-group
            .accordion-heading
              %a.accordion-toggle-small{"data-parent" => "#accordianParent", "data-toggle" => "collapse", :href => "#directions"}
                Directions
            #directions.accordion-body.collapse
              .accordion-inner-small
                Opal-playground is a jsBin like but with an Opal focus.  It inclues other things like a built REPL via opal-irb.
                %ul
                  %li To show opal-irb, press the 'Show Irb' button
                  %li To hide opal-irb, click on the red 'X'
                There are 2 slide out sections
                %ul
                  %li The left slide out, also toggle-able from the help button, gives help and a way to show the compiled code. Click on the > to open, and < to close
                  %li The right slide out shows the results of compilation after 'Run Code' is performed. Compile errors willl show here as well.  Click the < to open and the > to close
            .accordion-heading
              %a.accordion-toggle-small{"data-parent" => "#accordianParent", "data-toggle" => "collapse", :href => "#opal-docs"}
                Opal Docs
            #opal-docs.accordion-body.collapse
              .accordion-inner-small
                %iframe.iframe-docs(src='http://opalrb.org/docs/')
            .accordion-heading
              %a.accordion-toggle-small{"data-parent" => "#accordianParent", "data-toggle" => "collapse", :href => "#opal-jquery-docs"}
                Opal jQuery Docs
            #opal-jquery-docs.accordion-body.collapse
              .accordion-inner-small
                %iframe.iframe-docs(src='http://opalrb.org/docs/jquery/')
            .accordion-heading
              %a.accordion-toggle-small{"data-parent" => "#accordianParent", "data-toggle" => "collapse", :href => "#opal-browser-docs"}
                Opal Browser Docs
            #opal-browser-docs.accordion-body.collapse
              .accordion-inner-small
                / %iframe.iframe-docs(src='https://github.com/opal/opal-browser')
            .accordion-heading
              %a.accordion-toggle-small{"data-parent" => "#accordianParent", "data-toggle" => "collapse", :href => "#lissio-docs"}
                Lissio Docs
            #lissio-docs.accordion-body.collapse
              .accordion-inner-small
                / %iframe.iframe-docs(src='https://github.com/meh/lissio')

      %a#toggleSidebar.toggles{:href => "#"}
        %i.glyphicon.glyphicon-chevron-right


    #sidebar-right.sidebar
      %a#toggleSidebar-right.toggles{:href => "#"}
        %i.glyphicon.glyphicon-chevron-left

      / Sidebar content
      #sidebar-content-right.sidebar-content
        %h1 Compiled Javascript
        #sidebar-results
          #javascript_pane
